* {
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
     
  }

  header {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
     padding: 30px;
    background-image: 
    url("https://t2.up.ltmcdn.com/es/posts/1/2/8/los_paises_que_hay_en_el_mundo_definicion_y_resumen_2821_0_orig.jpg");
    background-size: cover;
    background-position: center;
  
  }

  .titulo{
    padding-left: 15px;
  }
  .fontTi {
    margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  }

  #titPrin {
    text-align: center;
    text-transform: uppercase;
    color: #34176b;
  }

  main {
    
    background-color: #F8F8FF;
    padding-top: 1em;
    padding-bottom: 1em;
   min-height: 60%;
    
  }
  .columns-desktop {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    
   
  }

  footer{
    display: block;
    top: 0;
    left: 0;
    width: 100%;
     padding: 30px;
     background-image: 
    url("https://ak.picdn.net/shutterstock/videos/1032668762/thumb/1.jpg");
    background-position: center ;
    background-size: cover; 
  
  }
  .pie {
   
    text-align: center;
  }

  .pie p {
    color: rgb(10, 8, 8);
    margin: 0;
  }

  .pie a {
    color: blue;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    font-style: oblique;
    font-family: Georgia, serif ; 

  }
  
  
  
 
